body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.temporizador-container {
    margin-bottom: 20px;
}

.temporizador {
    font-size: 48px;
    font-weight: bold;
}
